.root{
    --OffWhite: #f7f7f7;
    --Slate: #616160;
    --Yellow: #fca800;
    --SolidGreen: #5da694;
    --LinearGreen: linear-gradient(to right, rgb(173, 215, 192), rgb(93, 166, 148));
  }

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#table {
    text-align: center;
}

#add-line-button {
    margin: 10px;
    width: 190px;
}

.selector{
    width : 300px;
}


#flavour-text{
    font-weight: bold;
    overflow-wrap: break-word;
    padding : 10px;
}

#emphasis{
    font-weight: bolder;
    color: #fca800;
}