.root{
    --OffWhite: #f7f7f7;
    --Slate: #616160;
    --Yellow: #fca800;
    --SolidGreen: #5da694;
    --LinearGreen: linear-gradient(to right, rgb(173, 215, 192), rgb(93, 166, 148));
  }

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selector{
    width : 100%;
}